<div class="page-header">
  <h1>{{client.firstName}} {{client.lastName}}</h1>
</div>

<h3>Basic</h3>

<div class="label-list-item">
  {{client.firstName}}
  <span>First name</span>
</div>
<div class="label-list-item">
  {{client.lastName}}
  <span>Last name</span>
</div>
<div class="label-list-item">
  {{client.email}}
  <span>Email</span>
</div>
<div class="label-list-item">
  {{client.mobile}}
  <span>Mobile</span>
</div>
<div class="label-list-item">
  {{client.gender}}
  <span>Gender</span>
</div>
<div class="label-list-item">
  {{moment-format client.clientSince "D MMM YY"}}
  <span>Client since</span>
</div>

<h3 class="mt24">Credit</h3>
{{#each-in client.creditAccount as |key value|}}
  <div class="label-list-item">
    {{value}}
    <span>{{capitalize (decamelcase key ' ')}}</span>
  </div>
{{/each-in}}


