<div class="page-header">
  <h1>Clients</h1>
  {{#link-to 'new-client' class="btn sml action-btn"}}New{{/link-to}}
</div>

<div class="pagination">
  <button {{action 'prevPage'}} class="btn sml {{if hasPrevPage '' 'disabled'}}">Prev</button>
  &nbsp;
  Page <span class="t-current-page">{{displayPage}}</span> of <span class="t-total-pages">{{totalPages}}</span>
  &nbsp;
  <button {{action 'nextPage'}} class="btn sml green {{if hasNextPage '' 'disabled'}}">Next</button>
</div>

<div class="filtering mt24 mb16 accordion {{if accordionClosed 'close'}}">
  <div class="accordion-bar" {{action (mut accordionClosed) (not accordionClosed)}}>
    <h4 class="mb8">Filtering</h4>
  </div>
  <div class="accordion-content">
    <div class="spacer">
      {{input value=firstName placeholder='First name' class="t-first-name"}}
      {{input value=lastName placeholder='Last name' class="t-last-name"}}
      {{input value=email placeholder='Email'}}
      {{input value=phone placeholder='Phone'}}

      <button class="btn green sml" {{action 'resetFilters'}}>Reset</button>
      <br>
      <label class="t-exact-match">
        {{input type='checkbox' checked=session.exactMatch}} Exact match
      </label>
    </div>
  </div>
</div>


<div class="mt24 list-container">
  {{#if fetchDataTask.isRunning}}
    Loading clients... <br>
  {{else}}
    <div class="client-grid">
      <div class="row heading">
        <div class="col-sm-3">Name</div>
        <div class="col-sm-5">Email</div>
        <div class="col-sm-4">Phone</div>
      </div>

      <span class="note">Add voucher</span>
      {{#each clients as |client|}}
        <div class="row client">
          <div class="col-sm-3 item">{{client.firstName}} {{client.lastName}}</div>
          <div class="col-sm-5 item email">{{client.email}}</div>
          <div class="col-sm-4 item mobile">{{client.mobile}}</div>

          {{#link-to 'client.vouchers.new' client class="new-voucher"}}
            +
          {{/link-to}}
        </div>
      {{else}}
        <div class="row">
          <div class="col-xs-12">No records</div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<div class="mt16">
  {{pageTotalElements}} total clients | {{pageSize}} results
</div>

<div class="pagination mt16">
  <button {{action 'prevPage'}} class="btn sml {{if hasPrevPage '' 'disabled'}}">Prev</button>
  &nbsp;
  Page {{displayPage}} of {{totalPages}}
  &nbsp;
  <button {{action 'nextPage'}} class="btn sml green {{if hasNextPage '' 'disabled'}}">Next</button>
</div>


