<div class="page-header">
  <h1>Phorest Salon Software</h1>
</div>

<div class="content-pane">
  <h2 class="mb8">Phorest Tech Test</h2>
  <h3 class="mb0">Michiel van Wijk</h3>
  <h4 class="mb24">December 2018</h4>

  <p>To get started head over to the {{#link-to 'clients' class="link"}}clients{{/link-to}} listing page.</p>
  <p>From there you will be able to add vouchers to each client, and also create {{#link-to 'new-client' class="link"}}new clients{{/link-to}}.
  <br>Be sure to take a look at the <i>router.js</i> or all accessible routes.</p>
  <p><b>A note on the filtering:</b> It seems the server only accepts exact matches for the phone and email, which doesn't quite fit into the flow of the rest of the filtering unfortunately.</p>
  <p>You might notice the deprecation warnings for the decorators addon, I resorted to an older version for the sake of familiarity and time for now.</p>
  <p>The <a href="/tests" class="link">test suite</a> should also be passing. I added a very basic acceptance test for the sake of time.</p>


  <p class="mt32">Thank you for your time!</p>
</div>


