body{
  font-family: 'Cabin', sans-serif;
  background: $purple;
  color: $white;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 0.8em 0;
}

p{
  margin: 0 0 0.5em 0;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

b{
  font-weight: 700;
}

label {
  font-weight: inherit;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  padding: 0.1em;
}

img {
  max-width: 100%;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

input{
  border-radius: 4px;
  outline: none;
  border: 1px solid $white;
  padding: 6px 9px 4px;
  border-bottom: 4px solid $grey;
  margin-bottom: 8px;
}
