.btn{
  border: 1px solid $blue;
  color: $white;
  background: $blue;
  padding: 0.5em 1em;
  border-radius: 5px;
  border-bottom: solid darken($blue, 10%) 4px;
  display: inline-block;
  text-align: center;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 8px;
  &.sml{
    padding: 0.2em 1em;
  }
  &.green{
    border: 1px solid $green;
    background: $green;
    border-bottom: solid darken($green, 10%) 4px;
  }
  &.disabled{
    border-color: $grey;
    background: $grey;
    border-bottom: solid darken($grey, 10%) 4px;
  }
}
