h1, .h1{
  font-size: 30px;
  line-height: 34px;
  @include respond-to($tablet){
    &:not(.-s){
      font-size: 44px;
      line-height: 48px;
    }
  }
}

h2, .h2{
  font-size: 30px;
  line-height: 34px;
  @include respond-to($tablet){
    &:not(.-s){
      font-size: 36px;
      line-height: 40px;
    }
  }
}

h3, .h3{
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}

h4, .h4{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5, .h5{
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  @include respond-to($tablet){
    &:not(.-s){
      font-size: 24px;
      line-height: 36px;
    }
  }
}
