$sizes: 0, 8, 12, 16, 24, 32, 40, 48;

@each $size in $sizes {
  .pt#{$size}{ padding-top: #{$size}px !important };
  .pb#{$size}{ padding-bottom: #{$size}px  !important };
  .mt#{$size}{ margin-top: #{$size}px !important };
  .mb#{$size}{ margin-bottom: #{$size}px  !important };
}


.float-right{
  float: right;
}

.link{
  color: $blue;
  display: inline-block;
  border-bottom: 1px solid $blue;
}
