
<div class="tab-menu">
  {{#link-to 'client.index'}}Profile{{/link-to}}
  {{#link-to 'client.vouchers' current-when="client.vouchers.index"}}Vouchers{{/link-to}}
  {{#link-to 'client.vouchers.new' current-when="client.vouchers.new"}}New Voucher{{/link-to}}
</div>

{{outlet}}