{{p-header}}

<div class="flash-messages">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message class="animated slideInRight" flash=flash as |component flash|}}
      {{flash.message}}
    {{/flash-message}}
  {{/each}}
</div>

<div class="p-container pt48 pb48 main-container">
  {{outlet}}
</div>

{{p-footer}}