<div class="form-block modal">
  <div class="content">
    {{#link-to 'client.vouchers' class="close"}}x{{/link-to}}
    <h3>New voucher</h3>
    {{input value=voucher.originalBalance placeholder="Original balance"}}
    <button class="btn sml {{if saving 'disabled'}}" {{action 'saveVoucher' voucher}}>{{if saving 'Saving...' 'Save'}}</button>
  </div>
  <div class="overlay" {{action 'goBack'}}></div>
</div>
