<div class="page-header">
  <h1>{{client.firstName}} {{client.lastName}}'s vouchers</h1>
</div>

{{outlet}}

<h3>All vouchers</h3>

{{#each vouchers as |voucher|}}
  <div class="voucher-block">
    <span class="label">Id</span>
    <span class="value">{{voucher.voucherId}}</span>

    <span class="label">Original balance</span>
    <span class="value">{{voucher.originalBalance}}</span>

    <span class="label">Remaining balance</span>
    <span class="value">{{voucher.remainingBalance}}</span>

    <span class="label">Serial number</span>
    <span class="value">{{voucher.serialNumber}}</span>

    <span class="label">Issue date</span>
    <span class="value">{{moment-format voucher.issueDate "D MMM YY"}}</span>

    <span class="label">Expiry date</span>
    <span class="value">{{moment-format voucher.expiryDate "D MMM YY"}}</span>
  </div>
{{else}}
  No vouchers for {{client.firstName}} {{client.lastName}}
{{/each}}