<div class="page-header">
  <h1>New client</h1>
  <button class="btn action-btn sml" {{action 'goBack'}}>Back</button>
</div>

<div class="form-block centered">
  <h4>Complete fields for new client</h4>

  {{input value=client.firstName placeholder="First name"}} <br>
  {{input value=client.lastName placeholder="Last name"}} <br>
  {{input value=client.email placeholder="Email"}} <br>
  {{input value=client.mobile placeholder="Phone"}} <br>

  <button class="btn mt24 {{if saving 'disabled'}}" {{action 'saveClient' client}}>{{if saving 'Saving...' 'Save'}}</button>
</div>


