.accordion{
  border: 1px solid rgba($white, 0.1);
  border-radius: 4px;
  .accordion-bar{
    background: rgba($white, 0.1);
    padding: 8px 12px 2px;
    position: relative;
    cursor: pointer;
    &:after{
      content: '-';
      font-size: 24px;
      position: absolute;
      right: 16px;
      top: 3px;
    }
  }
  .accordion-content{
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    .spacer{
      padding: 12px 6px 6px;
    }
  }
  &.close{
    .accordion-bar{
      &:after{
        content: '+';
      }
    }
    .accordion-content{
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    }

  }
}
