.client-grid{
  .note{
    display: block;
    text-align: right;
    margin-top: -18px;
    font-size: 12px;
  }
  .row{
    border-bottom: 1px solid rgba($white, 0.1);
    padding: 8px 0;
  }
  .client{
    position: relative;
    display: block;
    .new-voucher{
      font-weight: 300;
      text-align: right;
      line-height: 40px;
      position: absolute;
      right: 0;
      display: block;
      z-index: 2;
      top: 50%;
      font-size: 28px;
      cursor: pointer;
      margin-top: -34px;
      padding: 12px 22px;
    }
  }
  .heading{
    font-weight: 700;
    font-size: 18px;
    border-bottom: 2px solid rgba($white, 0.6);
  }
  .item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @include respond-to($tablet){
    .note{
      display: none;
    }

    .client{
      .new-voucher{
        display: none;
      }
      &:hover{
        .new-voucher{
          display: block;
          font-size: 16px;
          padding: 0;
          margin-top: -20px;
          transition: color 100ms linear;
          &:after{
            content: ' Voucher';
          }
          &:hover{
            color: lighten($blue, 10%);
          }
        }
      }
    }
    .item{
      user-select: all;
    }
  }
}
