.form-block{
  background: lighten($purple, 10%);
  padding: 16px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  .close{
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 8px 16px;
    display: inline-block;
  }
  &.centered{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    input{
      width: 100%;
    }
  }
  &.modal{
    background: none;
    .content{
      background: lighten($purple, 10%);
      padding: 16px;
      border-radius: 4px;
      display: inline-block;
      position: fixed;
      transform: translate3d(-50%,-50%,0);
      z-index: 2;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 400px;
    }
    .overlay{
      content: '';
      position: fixed;
      display: block;
      left: 0;
      right: 0;
      top:0;
      bottom:0;
      background: rgba($black, 0.6);
      z-index: 1;
      cursor: pointer;
    }
  }
}
