.label-list-item{
  padding: 10px 6px 4px;
  border-bottom: 1px solid rgba($white, 0.1);
  position: relative;
  margin-bottom: 12px;
  min-height: 39px;
  span{
    position: absolute;
    left: 6px;
    bottom: 26px;
    font-size: 12px;
    opacity: 0.4;
  }
}
