.tab-menu{
  text-align: center;
  margin-top: -48px;
  margin-bottom: 24px;
  a{
    display: inline-block;
    padding: 12px;
    font-weight: 700;
    &:hover, &.active{
      background: rgba($white, 0.1);
    }
    &.active{
      border-bottom: 1px solid rgba($white, 0.3);
    }
  }
}
