.voucher-block{
  margin-bottom: 12px;
  border-bottom: 1px solid rgba($white, 0.3);
  padding-bottom: 12px;
  &:last-child{
    border-bottom: 0;
  }
  .label{
    display: inline-block;
    padding: 4px 8px;
    background: rgba($white, 0.2);
    width: 145px;
    text-align: right;
    font-weight: 700px;
    vertical-align: top;
  }
  .value{
    display: inline-block;
    padding: 4px;
    border-bottom: 2px solid transparent;
    width: calc(100% - 150px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
}
