<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Phorest Tech Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/phorest-tech-test.css">
    <link rel="shortcut icon" href="{{rootURL}}assets/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,700" rel="stylesheet">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/phorest-tech-test.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
