.p-header{
  background: $white;
  color: $purple;
  padding: 12px 0;
  .logo-container{
    max-width: 70px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    img{
      max-width: none;
      width: 160px;
    }
  }
  ul{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    li{
      font-weight: 500;
      color: $blue;
      display: inline-block;
      a {
        padding: 10px 9px;
        display: inline-block;
        &.active{
          border-bottom: 1px solid $blue;
        }
      }
    }
  }
  @include respond-to($tablet){
    // position: fixed;
    // top: 0;
    // left:0;
    // right:0;
    // -webkit-overflow-scrolling: touch;
    .logo-container{
      max-width: 215px;
      img{
        width: auto;
        max-width: 100%;
      }
    }
    ul{
      width: calc(100% - 220px);
      text-align: right;
    }
  }
}
