<div class="p-container">

  {{#link-to 'index' class="logo-container"}}
      <img src="/assets/logo-full.png" alt="Phorest" class="logo"/>
  {{/link-to}}

  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'clients'}}Clients{{/link-to}}</li>
  </ul>
</div>
